<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Play List</title>
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/site.css" rel="stylesheet">
  <script src="https://fb.me/react-0.13.3.js"></script>
  <script src="https://fb.me/JSXTransformer-0.13.3.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</head>
</head>
<body>
  <div class="container" id="container"></div>
  <?php echo $content; ?>
</body>
</html>