

<h1>Список музыкальных треков</h1>
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="col-md-3"><h3>Название</h3></div>
    <div class="col-md-3"><h3>Исполнитель</h3></div>
    <div class="col-md-3"><h3>Жанр</h3></div>
    <div class="col-md-3"><h3>Длительность</h3></div>
    <?php foreach ( $songs as $song ): ?>
      <div class="col-md-3"><?php echo $song->name ?></div>
      <div class="col-md-3"><?php echo $song->singer ?></div>
      <div class="col-md-3"><?php echo $song->genre ?></div>
      <div class="col-md-3"><?php echo $song->duration ?></div>
    <?php endforeach ?>
  </div>
</div>