<script type="text/jsx">

  var songRow = React.createClass({
    render: function() {
      return (
        <div class="col-md-3">{name}</div>
        <div class="col-md-3">{singer}</div>
        <div class="col-md-3">{genre}</div>
        <div class="col-md-3">{duration}</div>
      );
    }
  });

  React.render(
    <songRow />,
    document.getElementById('container')
  );
</script>
